body {
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 10pt;
  background-color: #FFF3E0;
}


#title {
  width: 862px;
  background-color: #373430;
  font-size: 18pt;
  color: #FFFFFF;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
  border: 3px solid #635E59;
}

.block {  
  width: 860px;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.center {
  margin: 10px auto;
}

th {
  background-color: #373430;
  color: white;
  border: 2px solid #373430;
}

td {
  border: 2px solid #373430;
  padding: 1px 5px 1px 5px;
  height: 18px;
  width: 130px;
}

table {
  border-collapse: separate;  
  border-spacing: 2px;  
}

.readonly {
  background-color: DarkGray;
}

.money {
  text-align: right;
}

.textbox {
  float: right;
  width: 120px;
  padding: 2px;
  text-align: right;
  border-radius: 2px;
  border: 2px solid #373430;
  overflow: hidden;
}

.editable {
  outline: none;
}

.clear {
  clear: both;
}

/* finances */

.finance {
  float: left;
  height: 175px;
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-width: medium;
  margin-left: 130px;
}

.line {
  width: 100%;
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
}

.input {
  float: right;
  font-size: 10pt;
}

.field {
  float: left;
  width: auto;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px solid transparent;
}

.operation {
  float: left;
  width: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 10px;
}

}
.data {
  height: 18px;
  background-color: white;
}

.monies {
  float: right;
  height: 175px;
  top: 60px;
  left: 400px;
  padding: 4px 10px 4px 10px;
  border-style: solid;
  border-width: medium;
  margin-right: 130px;
}

.vheader {
  border: 0px; 
  font-weight: bold; 
  text-align: right;
  width: 200px;
}

.header {
  margin: 1px;
  color: #fff;
  padding: 3px 10px;  
  position: relative;
  background-color: #E78F08;
  border-radius: 5px 5px 5px 5px;
  background: #F6A828;
  border: 1px solid #E78F08;
}

.shadow {
  box-shadow: 2px 2px 5px 2px #666;
}

.right-justified {
  float: right;
  margin-left: 15px;
}

#message {  
  /* center */
  margin: 10px auto;  
  
  /* message specific */
  width: 820px;
  padding: 5px 10px 5px 10px;  
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px #ccc;
  cursor: pointer;
}

.success {
  background-color: #9BAAFF;
  border: 1px solid #4F6CFF;
  color: #3F3600;
}

.error {
  background-color: #FF8C8C;
  border: 1px solid red;
  color: #006B6B;
}

.fade.ng-hide-add.ng-hide-add-active,
.fade.ng-hide-remove {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
 
.fade.ng-hide-add,
.fade.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}