<div ng-controller="GameCtrl">
  
  <div bb-message id="message" class="fade" ng-show="message.show" title="Click to dismiss">    
    <span>{{message.text}}</span>
    <span class="right-justified">{{message.details}}</span>
  </div>
  
  <div class="block center">  
    <h2 class="header">Finance</h2>
    <br/>
    <div class="finance">
      <div class="line">        
        <bb-editbox name="income" value="finance.income" save="saveValue" />
      </div>
      <br/>
      <div class="line">
        <div class="operation" style="font-size: 14pt;">&ndash;</div>
        <bb-editbox name="upkeep" value="finance.upkeep" save="saveValue" />
      </div>
      <br class="clear"/>
      <hr/>
      <div class="line">
        <div class="operation" style="font-size: 14pt;">=</div>
        <div class="input">
          <div class="field">Hourly</div>          
          <div class="textbox readonly">{{finance.income * finance.upkeep | currency:undefined:0}}</div>
        </div>
      </div>
      <br class="clear"/>
      <div class="line">
        <div class="operation">x 24</div>
        <div class="input">
          <div class="field">Daily</div>
          <div class="textbox readonly">{{finance.income * finance.upkeep * 24 | currency:undefined:0}}</div>
        </div>
      </div>
    </div>
    <div class="monies">
      <div class="line">
        <bb-editbox name="balance" value="finance.balance" save="saveValue" />
      </div>
      <br/>
      <div class="line">
        <div class="operation" style="font-size: 14pt;">+</div>
        <bb-editbox name="wallet" value="finance.wallet" save="saveValue" />
      </div>
      <br/>
      <div class="line">
        <div class="operation" style="font-size: 14pt;">+</div>
        <bb-editbox name="landIncome" value="finance.landIncome" label="land" save="saveValue" />
      </div>
      <br class="clear"/>
      <hr/>
      <div class="line">
        <div class="operation" style="font-size: 14pt;">=</div>
        <div class="input">
          <div class="field">Total</div>
          <div class="textbox readonly">{{finance.balance + finance.wallet + finance.landIncome | currency:undefined:0}}</div>
        </div>
      </div>
    </div>  
    <br class="clear"/>
    <br />
    
    <h2 class="header">Structure</h2>
    <table class="center">
      <tbody>
        <tr>
          <th style="background-color: transparent; border: 0px"></th>
          <th>Cost</th>
          <th>Increase</th>
          <th>Income</th>
        </tr>
        <tr ng-repeat="structure in finance.structures">
          <td class="vheader">{{structure.name}}</td>
          <td bb-cost structure="{{structure.name}}" cost="structure.cost" save="saveStructure"></td>
          <td class="money readonly">{{structure.increase | currency:undefined:0}}</td> 
          <td class="money readonly">{{structure.income | currency:undefined:0}}</td> 
        </tr>
      </tbody>  
    </table>
    <br />
    
    <div>
      <h2 class="header">Purchases</h2>
      <br />
      <form ng-submit="generatePurchases()">
        <button type="submit">Generate</button>
      </form>
      
      <pre>{{path.details}}</pre> 
      <p>{{path.ratio}}</p>
    </div>
    
    <!--
    <table class="center">
      <tbody>
        <tr>          
          <th>Cost</th>
          <th>Increase</th>
          <th>Income</th>
        </tr>
        <tr ng-repeat="path in paths">
          <td>{{path.name}}</td><td>{{path.price}}</td><td>{{path.hours}}</td><td>{{path.newIncome}}</td><td>{{path.incomePerHour}}</td>
        </tr>
      </tbody>  
     </table>
     -->
  </div>
  <!--
   <script id="purchasesTemplate" type="text/x-jsrender">
    <pre>{{:Path}}</pre> 
    <p>{{:~format(Ratio)}}</p> 
  </script>
  -->

  
</div>
