body {
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 10pt;
  background-color: #FFF3E0;
}
#title {
  margin: 10px auto;
  width: 862px;
  background-color: #373430;
  font-size: 18pt;
  color: #FFFFFF;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
  border: 3px solid #635E59;
}
#message {
  padding: 5px 10px 5px 10px;
  margin: 10px auto;
  width: 400px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px #ccc;
  cursor: pointer;
  display: none;
}
#exception {
  float: right;
  margin-left: 15px;
}
.error {
  background-color: #FF8C8C;
  border: 1px solid red;
  color: #006B6B;
}
.success {
  background-color: #9BAAFF;
  border: 1px solid #4F6CFF;
  color: #3F3600;
}
#tabs {
  margin: 10px auto;
  width: 860px;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.ui-tabs-panel {
    display: inline !important;
}
.clear {
  clear: both;
}
.gameInfo {
  margin: 0px auto;
  min-height: 200px;
}
.header {
  margin: 1px;
  color: #fff;
  padding: 3px 10px;
  cursor: pointer;
  position: relative;
  background-color: #E78F08;
  border-radius: 5px 5px 0px 0px;
  background: url("ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
  border: 1px solid #E78F08;
}
.content {
  float: left;
  width: 100%;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  margin: 0px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}
.lands {
  margin: auto;
  width: 60%;
  border-collapse: collapse;
  font-size: 10pt;
}
.structures {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  font-size: 10pt;
}
.money {
  text-align: right;
}
td, th{
  border: 2px solid;
  padding: 1px 5px 1px 5px;
}
.finance {
  float: left;
  height: 160px;
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-width: medium;
  margin-left: 100px;
}
.monies {
  float: right;
  height: 160px;
  top: 60px;
  left: 400px;
  padding: 4px 10px 4px 10px;
  border-style: solid;
  border-width: medium;
  margin-right: 100px;
}
.line {
  width: 100%;
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
}
.operation {
  float: left;
  width: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 10px;
}
.input {
  float: right;
  font-size: 10pt;
}
.field {
  float: left;
  width: auto;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px solid transparent;
}
.data {
  height: 18px;
  background-color: white;
}
.readonly {
  background-color: lightGray;
}
.textbox {
  float: right;
  width: 120px;
  padding: 2px;
  text-align: right;
  border-radius: 2px;
  border: 2px solid #373430;
  overflow: hidden;
}
.editable {
  outline: none;
}
.shadow {
  box-shadow: 2px 2px 5px 2px #666;
}

